@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@100;700&family=Poppins:wght@400&family=Roboto:wght@700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.toolbar {
  background: #3c3a39;
  display: flex;
  justify-content: space-between;
  font-family: "Inter", Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 18px;
  height: 60px;
}

.main-class {
  height: 560px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
  background-color: #1c1a19;
  background-image: url("./ressources/Ilustration/illustration-mobile.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.logo {
  padding: 20px;
  color: #fff;
  font-style: normal;
  text-decoration: none;
}

.button {
  display: flex;
  align-items: flex-start;
  padding: 25px;
}

.Hey-there {
  letter-spacing: 0.37px;
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 56px;
  color: #ff6b00;
  margin: 10px 0;
}

.i-m {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  margin: 12px 0;
  color: #fff5e1;
}

.description {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  width: 80%;
}

.icons {
  display: flex;
}

.icon {
  margin: 0.5px;
  filter: grayscale(100%) brightness(200%);
}

li {
  list-style: none;
}

.works {
  display: grid;
  margin: auto;
  width: 327px;
}

.head-works {
  font-family: "Crete Round", serif;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  padding: 1% 6.3%;
  margin-top: 30%;
}

.content {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.project img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8%;
  width: 300px;
}

.head-description {
  color: #091e42;
  font-family: "Crete Round", serif;
  font-size: 32px;
  font-weight: 400;
  text-align: left;
}

.project-description {
  color: #091e42;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.programming-language {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.item {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #091e42;
  margin: 15px 5px;
  padding: 10px;
  border: 1px solid #8993a4;
}

.button-project {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 17px;
  background-color: #ff6b00;
  color: #fff;
  height: 48px;
  width: 124px;
  justify-content: center;
  border: none;
}

.content1 {
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0.103) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url("ressources/Ilustration/Prj1.png");
  background-size: cover;
  background-position: center;
  padding: 21% 3%;
  position: relative;
  margin-top: 10%;
  margin-bottom: 8%;
  height: 386px;
  width: 327px;
}

.head-description1 {
  color: #fff;
  font-family: "Crete Round", serif;
  font-size: 32px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 3%;
}

.project-description1 {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.item1 {
  font-family: "Inter", sans-serif;
  background-color: rgba(200, 200, 200, 0.445);
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  margin: 15px 5px;
  padding: 10px;
}

.button-project1 {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 17px;
  background-color: #ff6b00;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 48px;
  justify-content: center;
  border: none;
}

.about-me {
  background-color: #1c1a19;
  flex-direction: column;
  padding: 100px 0.1%;
  background-image: url("ressources/Ilustration/illustration-mobile1.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  padding-bottom: 47%;
}

.about-title {
  font-family: "Crete Round", serif;
  font-size: 72px;
  margin: 100px auto 0 20px;
  color: #f55800;
}

.about-description {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 24px;
  margin: 20px;
  text-align: left;
  color: #fff;
}

.about-button {
  font-weight: bold;
  background-color: #ff6b00;
  color: #fff;
  height: 40px;
  width: 130px;
  justify-content: center;
  border-color: #ff6b00;
  margin-left: 20px;
}

.about-button:active {
  background-color: #ff6b00;
  color: #fff;
  border-color: #ff6b00;
}

.about-button:hover {
  background-color: lightgoldenrodyellow;
  color: #ff6b00;
  border-color: #ff6b00;
}

.about-button:disabled {
  background-color: #fff;
  color: grey;
  border-color: #fff;
}

.about-ilustration {
  text-align: right;
}

.skills {
  text-align: center;
  background-color: #1c1a19;
  padding: 100px 6.4%;
}

.skills-title {
  font-size: 32px;
  margin-top: 70px;
  color: #fff;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}

.skill {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-weight: normal;
  font-size: 22px;
  margin: 20px auto;
}

.rhombus {
  margin-right: 3%;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #ff6b00;
  transform: rotate(45deg);
  display: inline-block;
}

.square {
  margin-right: 3%;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #ff6b00;
  display: inline-block;
}

.circle {
  margin-right: 3%;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #ff6b00;
  display: inline-block;
  border-radius: 50%;
}

.titleFooter {
  font-family: "Inter", serif;
  font-weight: 700;
  font-size: 32px;
  margin: 15% 5%;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
}

.form {
  min-width: 300px;
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.form-list {
  width: 100%;
  padding: 20px 20px 10px 20px;
  margin-right: 15px;
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  border-bottom: 1px solid #dbd8d7;
}

.form-textarea {
  width: 100%;
  padding: 10px 0 100px 20px;
  border: none;
  background-color: #fbf8f7;
  resize: none;
  outline: none;
}

.botn {
  position: relative;
  padding: 12px;
  background: #ff6a00;
  border-color: #ff6a00;
  margin-bottom: 20%;
  font-family: "inter", serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: white;
  width: 131px;
}

.botn:active {
  background-color: #ff6b00;
  color: #fff;
  border-color: #ff6b00;
}

.botn:hover {
  background-color: lightgoldenrodyellow;
  color: #ff6b00;
  border-color: #ff6b00;
}

.botn:disabled {
  background-color: #fff;
  color: grey;
  border-color: #fff;
}

.icons1 {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

.icon1 {
  margin: 0.5px;
}
